@use '/src/styles/abstracts/' as *;

.product {
  @include container-width(max, 250px);
  @include size(100%);
  @include flex-container(column);
  @include gap(8);
  margin-bottom: 20px;
  &__images {
    @include relative();
    @include size(250px);
    display: block;
    .cart {
      @include absolute();
      bottom: 3%;
      right: 3%;
    }
  }
  &__brand {
    color: $gray400;
    font-size: $labelSmall;
  }
  &__title {
    color: $content;
    font-size: $paraGraphMedium;
  }
  &__discount-rate {
    color: $accentYellow;
    font-size: $labelLarge;
    margin-right: 8px;
  }
  &__price {
    @include font(size $labelLarge weight bold);
  }
  &__regular-price {
    color: $content;
    text-decoration: line-through;
  }
  &__description {
    color: $content;
    font-size: $paraGraphSmall;
  }
  &__keyword {
    background-color: $gray100;
    padding: 4px;
    border-radius: 4px;
    font-size: $labelSmall;
  }
  &__keyword.only {
    color: $primary;
    font-weight: bold;
  }
}
