$pretendard: 'Pretendard-Regular';

/* Color styles */
$black: rgba(0, 0, 0, 1);
$secondary: rgba(189, 118, 255, 1);
$white: rgba(255, 255, 255, 1);
$primary: rgba(95, 0, 128, 1);
$content: rgba(51, 51, 51, 1);
$gray50: rgba(249, 249, 249, 1);
$gray100: rgba(225, 225, 225, 1);
$gray200: rgba(196, 196, 196, 1);
$gray300: rgba(166, 166, 166, 1);
$gray400: rgba(137, 137, 137, 1);
$gray500: rgba(107, 107, 107, 1);
$gray600: rgba(86, 86, 86, 1);
$gray700: rgba(64, 64, 64, 1);
$gray800: rgba(43, 43, 43, 1);
$gray900: rgba(21, 21, 21, 1);
$accentYellow: rgba(250, 98, 47, 1);
$blue100: rgba(204, 224, 255, 1);
$blue200: rgba(153, 194, 255, 1);
$blue300: rgba(102, 163, 255, 1);
$blue400: rgba(51, 133, 255, 1);
$blue500: rgba(0, 102, 255, 1);
$blue600: rgba(0, 82, 204, 1);
$blue700: rgba(0, 61, 153, 1);
$blue800: rgba(0, 41, 102, 1);
$blue900: rgba(0, 20, 51, 1);
$infoError: rgba(240, 63, 64, 1);

/* Text-size styles */
/* base size: heading---medium (16px) */
$headingMedium: 1rem;
$headingLarge: 1.33rem;
$headingxl: 1.78rem;
$headingxxl: 2.37rem;
$headingxxxl: 3.16rem;
$labelSmall: 0.75rem;
$labelMedium: 1rem;
$labelLarge: 1.33rem;
$labelxl: 1.78rem;
$labelxxl: 2.37rem;
$paraGraphSmall: 0.75rem;
$paraGraphMedium: 1rem;
$paraGraphLarge: 1.33rem;
$paraGraphxl: 1.78rem;

/* Effect styles */
$text: inset 1px 1px 0px rgba(0, 0, 0, 1);
$aboveHigh: 0px -16px 48px rgba(0, 0, 0, 0.3);
$aboveMedium: 0px -8px 36px rgba(0, 0, 0, 0.2);
$aboveLow: 0px -4px 24px rgba(0, 0, 0, 0.1);
$belowHigh: 0px 16px 48px rgba(0, 0, 0, 0.3);
$belowMedium: 0px 8px 36px rgba(0, 0, 0, 0.2);
$belowLow: 0px 4px 24px rgba(0, 0, 0, 0.1);
