@use '/src/styles/base' as *;
@use '/src/styles/abstracts' as *;

.login-container {
  @include flex-container(column items-center);
  @include container-width(min, 1050px);
  min-height: calc(100vh - 629px);
  @include my(80);
  @include gap(44);
}

.login-heading-title {
  @include font(size $headingLarge weight 600 lh 150%);
}

.login-input-wrapper {
  @include flex-container(column);
  @include gap(12);
  @include size(340px);
  .login-input-label {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    clip-path: polygon(0 0, 0 0, 0 0);
    border: 0;
  }
  .login-input {
    @include size(100%, 50px);
    @include p(y 12 x 20);
    @include rounded(sm);
    border: 1px solid $gray300;
  }
}

.login-error-message {
  @include font(size $paraGraphSmall);
  color: $infoError;
  display: none;
}

.is--invalid + .login-error-message {
  display: block;
}

.login-forget-wrapper {
  @include flex-container(row);
  @include justify-content(end);
  @include gap(4);
  @include m(t 12 b 28 x 0);
  .login-forget-link {
    text-decoration: none;
    color: $black;
    @include font(size $paraGraphSmall);
  }
  .forget-bar {
    @include size(1px, 10px);
    background: $content;
  }
}

.login-buttons-wrapper {
  @include flex-container(column);
  @include size(340px);
  @include gap(12);
  .login-button {
    @include size(100%, 54px);
    border: 1px solid $primary;
    @include rounded(sm);
  }
  #button-login {
    background: $primary;
    color: $white;
  }

  #button-register {
    background: $white;
    color: $primary;
  }
}
