@use '/src/styles/base' as *;
@use '/src/styles/abstracts' as *;
@use '/src/styles/components/' as *;
@use '/src/styles/layout/' as *;
@use '/src/styles/themes/' as *;

body {
  width: 100vw;
  overflow-x: hidden;
}
.banner {
  @include size(100%, 370px);
  @include flex-container(justify-center);
  &__cover {
    @include size(100%);
    @include container-width(min, 1920px);
    @include relative();
    overflow: hidden;
  }
  &__wrapper {
    white-space: nowrap;
    figure {
      display: inline-block;
      img {
        @include m(x auto y 0);
      }
      figcaption {
        @include sr-only();
      }
    }
  }
  &__button {
    @include absolute();
    background: url(/public/images/menu/banner-arrow.svg) 50%;
    width: 50px;
    height: 50px;
    top: 160px;
    right: 17%;
    border: none;
  }
  .swiper-button-prev {
    left: 17%;
  }
  .swiper-button-next {
    transform: rotate(180deg);
  }
}
.recommend-products,
.discount-products {
  max-width: 1050px;
  margin: 40px auto;
  position: relative;
  h2 {
    @include font(size $headingxl);
    text-align: center;
    margin-bottom: 40px;
    color: $content;
  }
}
.product-list {
  @include size(100%);
  max-width: 1050px;
  overflow-x: auto;
  white-space: nowrap;
  &__wrapper {
    @include gap(18);
    display: flex;
    justify-content: space-between;
  }
  .product__button {
    @include absolute();
    top: 40%;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    border: none;
    background: url(/public/images/menu/arrow.svg) 50%;
  }
  .product__button.left {
    left: -26px;
  }
  .product__button.right {
    right: -26px;
    transform: rotate(180deg);
  }
}

.product-list::-webkit-scrollbar {
  @include hide();
}
.line-banner {
  img {
    max-width: 1050px;
    margin: 0 auto;
  }
  figcaption {
    @include sr-only();
  }
}

.modal {
  @include size(100vw, 100vh);
  @include hide();
  background-color: rgba(0, 0, 0, 0.4);
  @include absolute();
  top: 0;
  left: 0;
  &__wrapper {
    @include size(100%);
    max-width: 440px;
    border-radius: 16px;
  }
  &__image {
    border-radius: 16px 16px 0px 0px;
  }
  &__button__wrapper {
    @include size(100%);
    @include flex-container(row);
    background-color: $gray100;
    border-radius: 0px 0px 16px 16px;
    color: $content;
    button {
      @include size(calc(100% / 2));
      @include py(30);
      border: 0;
      background-color: transparent;
    }
    button:first-child {
      border-right: 1px solid $content;
    }
  }
}

.modal.is--active {
  display: flex;
  justify-content: center;
  align-items: center;
}
