@use '/src/styles/base' as *;
@use '/src/styles/abstracts' as *;

.products-container {
  @include flex-container(column items-center);
  @include mx(auto);
  @include py(48 80);
  @include gap(48);
  @include size(1050px);

  &__category {
    @include font(size $labelLarge weight 600 lh 1.5);
  }

  &__products {
    @include flex-container(row items-start);
    @include size(100%);
  }
}

.products-navigation {
  @include flex-container(column items-start);
  @include flex(1 0 0); 

  &__header {
    @include flex-container(row items-center);
    @include justify-content(between);
    @include font(size $labelMedium weight 600 lh 1.5);
    @include size(220px, 52px);
    border-bottom: 1px solid $gray100;

    & button {
      @include font(size 10px lh 1.6);
      border: none;
      background-color: transparent;
      color: $gray300;
    }
  }

  &__set {

    & button {
      @include flex-container(row items-center);
      @include justify-content(between);
      @include p(0);
      @include font(weight 600 lh 1.5);
      @include size(220px, 52px);
      border: none;
      
      background-color: white;

      & span {
        @include flex-container(row items-center);

        & .category-count {
          @include font(size 10px lh 1.6);
          @include mx(8 0);
          color: $gray300;
        }
      }
    }

    & > [class ^= "nav"] {
      border-bottom: 1px solid $gray100;

      & button img {
        transition: transform .5s;
      }
    }

    & > [class ^= "nav"] ul {
      overflow: hidden;
      max-height: 0;
      opacity: 0;
      transition: all 250ms cubic-bezier(0.83, 0, 0.17, 1) 0s;

      &.is--open {
        max-height: 100vh;
        opacity: 1;
      }

      & .category-list {
        @include flex-container(row items-end);
        @include py(8 16);
        @include font(weight 400 lh 1.6);
        @include size(auto, 50px);

        & input[type="checkbox"] {
          display: none;

          & + label {
            @include flex-container(row items-center);
            @include px(32 0);
            @include size(100%, 24px);
            cursor: pointer;
            background: url('/images/checkbox/rounduncheck.png') no-repeat;
            background-size: 24px;
            
            & .sub-count {
              @include font(size $paraGraphSmall weight 400 lh 1.6);
              @include mx(4 0);
              color: $gray300;
            }

          }
          
          &:checked + label {
            background-image: url('/images/checkbox/roundcheck.png');

          }
        }
      }
    }

    & .nav-brand {

      & .brand-sort {

        & > ul {
          @include flex-container(row items-center);          
          // max-height: none;
          opacity: 1;
          transition: none;
          overflow: auto;
          
          & .alphabetical, & .many {
            @include size(auto);
            border: none;

            &.is--selected {
              color: $primary;
            }
          }

          & .brand-divider {
            @include size(1px, 14px);
            @include mx(12);
            background-color: #b9b9b9;
          }
        }

        & .alphabet {
          @include size(220px);

          & ul {
            @include flex-container(row wrap items-center);
            @include gap(4 2.5);

            &.is--visible {
              @include my(0 12);
            }
  
            & button {
              @include flex-container(row items-center);
              @include size(22px, 22px);
              @include justify-content(center);
              @include rounded(2px);
              @include py(2 3);
              @include font(weight 400 lh 17px);
              background-color: $gray50;
              color: $gray200;
              border: none;

              &.is--selected {
                background-color: $content;
                color: white;
              }
            }

          }

          & .all, & .a-z {
            @include size(47px);
          }
        }


      }
    }
    
  }
}


.list-area {
  @include flex-container(column items-center);
  @include size(783px);

  & .list-info {
    @include flex-container(row items-center);
    @include justify-content(between);
    @include py(0 20);
    @include size(100%);

    & .products-area-title {
      @include sr-only;
    }

    & .products-total-count {
      @include font(weight 600 lh 1.5);
    }

    & .sort-area {
      @include flex-container(row items-center);

      & li {
        @include font(weight 600 lh 1.5);
        color: $gray300;
        background: white;
        border: none;
        
        &::before {
          @include mx(8 4);
          @include size(1px, 10px);
          @include show(inline-block);
          content: '';
          background-color: $gray300;

        }
      }
      
      & li:first-child {
        @include flex-container(row items-center);
        @include gap(4);
        color: $content;
      }

      & li:first-child::before {
        content: none;
      }
    }

  }

  & .product-wrapper {
    @include flex-container(row wrap items-start);
    @include justify-content(between);
    @include gap(24 0);

    & .product {
      @include size(249px);
    }
  }

  & .pagination-area {
    @include flex-container(row items-start);
    @include gap(-1);
    @include my(24 0);
    @include py(36 0);

    & button {
      @include flex-container(column);
      @include p(4);
      @include justify-content(center);
      @include align-items(center);
      @include font(size 12px weight 400 lh normal);
      @include size(34px, 34px);

      background-color: white;
      border: 1px solid $gray100;

    }

  }
}












