@use '/src/styles/base' as *;
@use '/src/styles/abstracts' as *;

.register-container {
  @include flex-container(column items-center);
  @include gap(44);
  @include m(t 80 b 40);
  @include container-width(min, 1050px);
  min-height: calc(100vh - 629px);
}

.register-heading-wrapper {
  @include flex-container(column items-center);
  .register-heading-title {
    @include font(size $headingLarge);
  }
}

.register-form-wrapper {
  @include flex-container(column items-center);
}

.register-requirement-wrapper {
  @include flex-container(row);
  @include justify-content(end);
  @include p(b 10);
  @include font(size 12px);
  @include size(100%);
  .register-requirement-star {
    @include font(size $paraGraphMedium weight 600);
    color: $infoError;
  }
  .register-requirement-paragraph {
    @include p(4);
    @include font(weight 600 lh 150%);
    color: $content;
  }
}

.register-form-field {
  @include flex-container(column items-start);
  @include size(640px);
  border-top: 2px solid $content;
  border-bottom: 1px solid $content;
}

.register-input-wrapper {
  @include flex-container(row items-center);
  @include py(20);
  @include gap(8);
  @include position(relative);
}

.register-error-message {
  @include position(absolute, b 0);
  @include font(size $paraGraphSmall);
  @include m(l 147);
  white-space: nowrap;
  display: none;
  color: $infoError;
}

.is--invalid ~ .register-error-message {
  display: block;
}

.register-label-wrapper {
  @include flex-container(row);
  @include size(139px, 44px);
  @include p(4);
  @include gap(4);
  .register-label {
    @include p(4);
    @include font(weight 600 lh 150%);
    color: $content;
  }
  .register-label-star {
    @include font(size $paraGraphMedium weight 600);
    color: $infoError;
  }
}

.register-input-group {
  @include size(333px, 44px);
  @include px(20);
  @include rounded(sm);
  border: 1px solid $gray300;
  &:focus {
    outline: 0.5px solid $black;
  }
}

.register-input-button {
  @include size(143px, 44px);
  @include rounded(sm);
  border: 1px solid $primary;
  background-color: $white;
  color: $primary;
}

#userTel,
.birthday-input {
  &::-webkit-inner-spin-button {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
  }
}

.search-address-wrapper {
  @include flex-container(column);
  @include gap(4);
  .search-address-button {
    background: $white;
    @include size(333px, 44px);
    @include rounded(sm);
    @include font(weight 600);
    border: 1px solid $primary;
    color: $primary;
  }
  .search-address-paragraph {
    @include font(size $paraGraphSmall weight 400 lh 160%);
    color: $black;
  }
}

.register-radio-wrapper {
  @include flex-container(row);
  @include justify-content(between);
  @include size(333px);
  .register-radio-box {
    @include flex-container(row items-center);
    .register-radio-label {
      @include flex-container(row);
      @include gap(8);
      @include font(weight 600 lh 150%);
      color: $content;
    }
    .register-radio-checkbox {
      @include position(absolute);
      opacity: 0;
    }
    &:focus-within .register-radio-label .register-radio-icon {
      @include rounded(sm);
      outline: 2px solid $black;
    }
  }
}

.register-radio-label .register-radio-icon {
  @include size(24px, 24px);
  background: url(/images/checkbox/radiouncheck.png) no-repeat 0 0 /100%;
  display: block;
}

.register-radio-checkbox:checked + .register-radio-label .register-radio-icon {
  background-image: url(/images/checkbox/radiochecked.png);
}

.birthday-wrapper {
  @include flex-container(row items-center);
  @include justify-content(center);
  @include size(333px, 44px);
  @include rounded(sm);
  border: 1px solid $gray300;

  .birthday-input {
    @include px(10);
    @include size(60px, 40px);
    text-align: center;
    border: none;
    outline: none;
  }
  .birthday-slash {
    color: $gray400;
  }
}

.agreement-wrapper {
  @include flex-container(row);
  @include size(640px);
  @include py(20);
  @include gap(8);
  border-bottom: 1px solid $gray200;
}

.all-agree-wrapper {
  @include p(b 20px);
  .agree-label {
    @include flex-container(row);
    @include gap(8);
    @include font(size $labelLarge weight 600);
    color: $content;
  }
  .agree-state-checkbox {
    @include position(absolute);
    opacity: 0;
  }
  &:focus-within .agree-label .agree-check-icon {
    @include rounded(sm);
    outline: 2px solid $black;
  }
  .all-agree-paragraph {
    @include p(t 4px l 32px);
    @include font(size $paraGraphSmall lh 160%);
    color: $gray400;
  }
}

.agree-label .agree-check-icon {
  @include size(24px, 24px);
  background: url(/images/checkbox/rounduncheck.png) no-repeat 0 0 /100%;
  display: block;
}

.agree-state-checkbox:checked + .agree-label .agree-check-icon {
  background-image: url(/images/checkbox/roundcheck.png);
}

.agree-wrapper {
  @include flex-container(column);
  @include size(429px);
  @include py(12px);
}

.agree-box {
  @include flex-container(row);
  @include justify-content(between);
}

.agree-text-wrapper {
  @include flex-container(row items-center);
  @include gap(8);
  .agree-label {
    @include flex-container(row);
    @include gap(8);
    @include font(lh 160%);
    color: $content;
  }
  .agree-state-checkbox {
    @include position(absolute);
    opacity: 0;
  }
  &:focus-within .agree-label .agree-check-icon {
    @include rounded(sm);
    outline: 2px solid $black;
  }
}

.agree-link-wrapper {
  @include flex-container(row items-center);
  @include p(4px);
  @include gap(4);
  .agree-link {
    @include font(size $paraGraphSmall lh 160%);
    color: $primary;
  }
  .arrow-unfill {
    @include size(6px, 11px);
    background: url(/images/menu/arrow_unfill.svg) no-repeat 0 0 /100%;
    display: block;
  }
}

.request-register {
  @include flex-container(column items-center);
  @include py(40);
  .register-button {
    @include size(340px, 54px);
    @include rounded(sm);
    @include font(weight 600);
    background: $primary;
    border: 1px solid $primary;
    color: $white;
  }
}
