@use '/src/styles/base' as *;
@use '/src/styles/abstracts' as *;

.register-container {
  @include flex-container(column items-center);
  @include gap(44px);
  min-width: 1050px;
  min-height: calc(100vh - 629px);
  margin: 80px 0px 40px 0px;
}

.register-heading-wrapper {
  @include flex-container(column items-center);
  .register-heading-title {
    font-size: $headingLarge;
  }
}

.register-form-wrapper {
  @include flex-container(column items-center);
}

.register-requirement-wrapper {
  @include flex-container(row);
  @include justify-content(end);
  padding-bottom: 10px;
  font-size: 12px;
  line-height: 150%;
  width: 100%;
  .register-requirement-star {
    font-size: $paraGraphMedium;
    color: $infoError;
    font-weight: 600;
  }
  .register-requirement-paragraph {
    @include p(4);
    color: $content;
    font-weight: 600;
    line-height: 150%;
  }
}

.register-form-field {
  @include flex-container(column items-start);
  width: 640px;
  border-top: 2px solid $content;
  border-bottom: 1px solid $content;
}

.register-input-wrapper {
  @include flex-container(row items-center);
  @include py(20);
  @include gap(8);
}

.register-label-wrapper {
  @include flex-container(row);
  width: 139px;
  height: 44px;
  @include p(4);
  @include gap(4);
  .register-label {
    @include p(4);
    color: $content;
    font-weight: 600;
    line-height: 150%;
  }
  .register-label-star {
    font-size: $paraGraphMedium;
    color: $infoError;
    font-weight: 600;
  }
}

.register-input-group {
  width: 333px;
  height: 44px;
  @include px(20);
  border-radius: 4px;
  border: 1px solid $gray300;
}

.register-input-button {
  width: 143px;
  height: 44px;
  border-radius: 4px;
  border: 1px solid $primary;
  background-color: $white;
  color: $primary;
}

.search-address-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  @include gap(4);
  .search-address-button {
    background: $white;
    width: 333px;
    height: 44px;
    border-radius: 4px;
    border: 1px solid $primary;
    color: $primary;
    font-weight: 600;
    line-height: 150%;
  }
  .search-address-paragraph {
    font-size: $paraGraphSmall;
    font-weight: 400;
    line-height: 160%;
    color: $black;
  }
}

.register-radio-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 333px;
  .register-radio-box {
    display: flex;
    align-items: center;
    .register-radio-checkbox {
      @include hide;
    }
    .register-radio-label {
      display: flex;
      @include gap(8);
      color: $content;
      font-weight: 600;
      line-height: 150%;
    }
  }
}

.register-radio-label .register-radio-icon {
  background: url(/images/checkbox/radiouncheck.png) no-repeat 0 0 /100%;
  display: block;
  width: 24px;
  height: 24px;
}

.register-radio-checkbox:checked + .register-radio-label .register-radio-icon {
  background-image: url(/images/checkbox/radiochecked.png);
}

.birthday-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 333px;
  height: 44px;
  border-radius: 4px;
  border: 1px solid $gray300;

  .birthday-input {
    text-align: center;
    border: none;
    outline: none;
    padding: 0px 10px;
    height: 40px;
    width: 60px;
  }
  .birthday-slash {
    color: $gray400;
  }
}

.aggrement-wrapper {
  display: flex;
  align-items: flex-start;
  width: 640px;
  padding: 20px 0px;
  @include gap(8);
  border-bottom: 1px solid $gray200;
}

.aggrement-field {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.all-agree-wrapper {
  display: flex;
  padding-bottom: 20px;
  flex-direction: column;
  .all-agree-box {
    @include flex-container(row items-center);
    .agree-label {
      display: flex;
      @include gap(8);
      color: $content;
      font-size: $labelLarge;
      font-weight: 600;
    }
    .agree-state-checkbox {
      @include hide;
    }
  }
  .all-agree-paragraph {
    padding-top: 4px;
    padding-left: 32px;
    color: $gray400;
    font-size: $paraGraphSmall;
    line-height: 160%;
  }
}

.agree-label .agree-check-icon {
  background: url(/images/checkbox/rounduncheck.png) no-repeat 0 0 /100%;
  display: block;
  width: 24px;
  height: 24px;
}

.agree-state-checkbox:checked + .agree-label .agree-check-icon {
  background-image: url(/images/checkbox/roundcheck.png);
}

.agree-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 429px;
  padding: 12px 0px;
}

.agree-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

.agree-text-wrapper {
  display: flex;
  align-items: center;
  @include gap(8);
  .agree-label {
    display: flex;
    @include gap(8);
    color: $content;
    font-size: $paraGraphMedium;
    font-weight: 400;
    line-height: 160%;
  }
  .agree-state-checkbox {
    @include hide;
  }
}

.agree-link-wrapper {
  @include flex-container(row items-center);
  padding: 4px;
  @include gap(4);
  .agree-link {
    color: $primary;
    font-size: $paraGraphSmall;
    font-weight: 400;
    line-height: 160%;
  }
  .arrow-unfill {
    background: url(/images/menu/arrow_unfill.svg) no-repeat 0 0 /100%;
    display: block;
    width: 6px;
    height: 11px;
  }
}

.request-register {
  @include flex-container(column items-center);
  @include py(40);
  .register-button {
    width: 340px;
    height: 54px;
    background: $primary;
    border: 1px solid $primary;
    border-radius: 4px;
    color: $white;
    font-size: $labelMedium;
    font-weight: 600;
  }
}
